.homeWrapper {
    padding-left: 15px;
    padding-right: 15px;
}
.wrapperWrapper {
    display: flex;
}

.categories {
    width: 15%;
    padding: 10px;
    border-right: solid black 2px;
}
.content {
    padding-top: 10px;
    padding-left: 10px;
    width: 85%;
}
.titlebar {
    margin-bottom: 10px;
}