.homeWrapper {
    display: flex;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.categories {
    width: 15%;
    display: inline-flex;
}
.content {
    display: inline-flex;
    width: 85%;
}