.wrapper {
    margin-left: 10%;
    margin-right: 10%;
}
.content {
    background-color: white;
    padding: 15px;
}

.title {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
}

.pictureCon {
    margin-bottom: 7px;
}
.pictures {
    width: 900px;
    height: 500px;
    margin: auto;
    display: block;
    position: relative;
}

.pictures .btn.back-btn {
    position: absolute;
    top: 260px;
    left: 0px;
    z-index: 1;
}

.pictures .btn.forward-btn {
    position: absolute;
    top: 260px;
    right: 0px;
    z-index: 1;
}

.pictures .images-wrapper {
    width: 90%;
    height: 500px;
    margin: auto;
    position: relative;
}

.pictures .images-wrapper img {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 500px;
    object-fit: contain;
    transition: opacity 0.3s;
}

.pictures .images-wrapper img.shown {
    opacity: 1;
}


.buttonsCon {
    width: fit-content;
}

.price {
    font-size: 25px;
    width: fit-content;
    margin-right: 0%;
    margin-left: auto;
    padding: 7px;
}
.descriptionCon {
    width: 70%;
    margin: auto;
}
.descriptionTitleCon {
    display: flex;
}
.descriptionTitle {
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
.description {
    padding: 15px;
    border: black solid 1px;
    border-radius: 10px;
    min-height: 200px;
}

.backButtonCon {
    padding-top: 7px;
}

.commentsCon {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.commentsTitle {
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
.commentBox {
    border: solid black 2px;
    margin-top: 10px;
}
.comments {
    width: fit-content;
}
.commentName {
    padding: 5px 0px 5px 5px;
}
.commentsTitleCon {
    display: flex;
}
.commentText {
    padding: 0px 5px 5px 5px;
}
.commentFormText {
    width: 100%;
    height: 70px;
    resize: none;
    padding: 5px;
}
.buttonsCon2 {
    display: flex;
    margin-bottom: 5px;
}
.buttonsCon2 .btn{
    margin-right: 5px;
}